# Ignore judge framework
t3_cpp/MCTS_LABELED_FINAL_TUE_02_20_PM/llm_as_a_judge_framework/

# Ignore PRM checkpoints
t3_cpp/MCTS_LABELED_FINAL_TUE_02_20_PM/Scripts/training/PRM_JUDGE/checkpoints/

# macOS
.DS_Store
